<h3><%= product_link.name %></h3>

<p class="product_link-description">
  <%= product_link.description %>
</p>

<%= link_to product_link.url, :class => "product_link-url open-link external-link btn" do %>
  <i class="icon-info-sign"></i>
  <%= t('ecm.products.product_link.actions.visit') %>
<% end %>

<hr />
