<h3><%= product_link.name %></h3>

<div class="product_link-description">
  <%= product_link.description %>
</div>

<%= link_to t('ecm.products.product_link.actions.visit'), product_link.url, :class => "product_link-url" %>
