<h1><%= Ecm::Products::ProductCategory.model_name.human(:count => :other) %></h1>

<%= nested_li(@product_categories, { :tree_css_class => 'tree unstyled' }) do |pc, level| %>
  <%= link_to pc.tree_name, pc %>
<% end %>

